@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte01: verdana, geneva, tahoma, sans-serif;
    --fonte02: 'passion one', cursive;
    --fonte03: 'sriracha', cursive;
}


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 9vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section{
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 1.8em;
padding-left: 30px;
font-family: var(--fonte03);
font-size: 4vw;
}

section > p{
    padding-bottom: 1.5em;
}

section.normal{
    background-color: white;
    color: black;
}

section#jinx{
    background-image: linear-gradient(to bottom, white,rgba(179, 137, 144, 0.678), rgb(241, 188, 197));
}

section#vi{
    background-image: linear-gradient(to top, white,rgba(69, 69, 148, 0.74), rgba(25, 25, 245, 0.815));
}

section#duo{
    background-image: linear-gradient(to right, rgba(15, 15, 129, 0.815), pink);
}

section.imagem{
    background-color: rgb(70, 69, 69);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-attachment: fixed;
    background-size: cover;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(../imagens/arcane-1.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url(../imagens/arcane2.jpg);
    background-size: cover;
}

div{
    background-image: linear-gradient(to right, pink, rgba(15, 15, 129, 0.815));
    position: relative;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
}

div > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
